<form action="/tasks/add" method="POST">

  <div>
    <label for="title">Write a Title</label>
    <input type="text" name="title" placeholder="title" id="title" />
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea
      name="description"
      placeholder="Description"
      id="description"
    ></textarea>
  </div>

  <button>Add</button>

</form>