<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>Tutle</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
      <li>
        <tr>
          <td>{{@index}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>
            <button>Done</button>
            <button>Delete</button>
            <a href="/edit/{{_id}}">Update</a>
            </td>
        </tr>
      {{/each}}
  </tbody>
</table>